<div class="well">
<form action="results" method="get" class="form-horizontal" name="search" onsubmit="searchSubmit()">
<fieldset>
<legend>Search</legend>
<div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Query</label>
      <div class="col-lg-10">
	      <input type="text" id="typeahead" class="form-control" name="query" placeholder="{{request.query_params['query']}}" value="{{request.query_params['query']}}">
      </div>
</div>
<div class="form-group">
      <label for="select" class="col-lg-2 control-label">Search Type</label>
      <div class="col-lg-10">
        <select name="searchtype" class="form-control" id="select">
                <option value="1" {% if searchtype==1 %}selected{% endif %}>Exact Phrase</option>
                <option value="2" {% if searchtype==2 %}selected{% endif %}>Answer Line</option>
                <option value="3" {% if searchtype==3 %}selected{% endif %}>All these words (manual mode)</option>
        </select><br>
      </div>
</div>
<div class="form-group">
      <label for="select" class="col-lg-2 control-label">Folder</label>
      <div class="col-lg-10">
        <select name="dir" id="folders" class="form-control" multiple="multiple">
	{% for d in dirs %} 
		{% if request.query_params['dir'] and d in request.query_params['dir'].split(",") %}
                  <option selected value="{{d}}">{{render_path(d)}}</option>
		{% else %}
			<option value="{{d}}">{{render_path(d)}}</option>
		{% endif %}
        {% endfor %}
        </select><br>
      </div>
</div>
<input type="hidden" name="dir" id="folders_hidden">
<div id="collapseOne" class="accordion-body collapse">
<div class="form-group">
      <label for="snippets" class="col-lg-2 control-label">No snippets (faster)</label>
      <div class="col-lg-1">
	      <input type="checkbox" id="snippets" class="form-control" name="nosnippets" value="1" {% if nosnippets==1 %}checked{% endif %} style="width: 25px">
      </div>
</div>
<div class="form-group">
      <label for="select" class="col-lg-2 control-label">Sort by</label>
      <div class="col-lg-10">
        <select name="sort" class="form-control" id="select">
	{% for sort in sorts %}
		{% if request.query_params['sort'] == sort[0] %}
			<option selected value="{{sort[0]}}">{{sort[1]}}</option>
		{% else %}
			<option value="{{sort[0]}}">{{sort[1]}}</option>
		{% endif %}
	{% endfor %}
        </select><br>
      </div>
</div>
<div class="form-group">
      <label for="select" class="col-lg-2 control-label">Order</label>
      <div class="col-lg-10">
        <select name="ascending" class="form-control" id="select">
		<option value="0" {% if ascending==0 %}selected{% endif %}>Descending</option>
		<option value="1" {% if ascending==1 %}selected{% endif %}>Ascending</option>
        </select><br>
      </div>
</div>
</div>
<div class="form-group">
      <div class="col-lg-12 col-lg-offset-2">
	<a class="accordion-toggle btn btn-default" data-toggle="collapse" href="#collapseOne">More options</a>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
</div>
</fieldset>
</form>
</div>
