{% extends "base.html" %}
{% block title %}: Settings{% endblock %}
{% block content %}
<div class="well">
    <form action="set" method="get">
        <fieldset>
            <legend>Settings</legend>
            <div class="form-group">
                <label for="stem" class="col-lg-2 control-label">
                    Stemming <small class="gray">(1 or 0, show "squats" and "squatter")</small>
                </label>
                <div class="col-lg-10">
                    <input id="stem" name="stem" type="text" class="form-control" value={{config['stem']}}>
                </div>
            </div>
            
            <div class="form-group">
                <label for="maxresults" class="col-lg-2 control-label">
                    Max results <small class="gray">(maximum number of results to show)</small>
                </label>
                <div class="col-lg-10">
                    <input id="maxresults" name="maxresults" type="text" class="form-control" value={{config['maxresults']}}>
                </div>
            </div>
            
            <div class="form-group">
                <label for="perpage" class="col-lg-2 control-label">
                    Results per page <small class="gray">(0 for no pagination)</small>
                </label>
                <div class="col-lg-10">
                    <input id="perpage" name="perpage" type="text" class="form-control" value={{config['perpage']}}>
                </div>
            </div>
            
            <div class="form-group">
                <label for="context" class="col-lg-2 control-label">
                    Context words <small class="gray">(number of words shown in search results)</small>
                </label>
                <div class="col-lg-10">
                    <input id="context" name="context" type="text" class="form-control" value={{config['context']}}>
                </div>
            </div>

            <div class="form-group">
                <label for="maxchars" class="col-lg-2 control-label">
                    Context characters <small class="gray">(max characters in a snippet)</small>
                </label>
                <div class="col-lg-10">
                    <input id="maxchars" name="maxchars" type="text" class="form-control" value={{config['maxchars']}}>
                </div>
            </div>

            <div class="form-group">
                <label for="csvfields" class="col-lg-2 control-label">
                    CSV fields <small class="gray">({{fields}})</small><br>
                </label>
                <div class="col-lg-10">
                    <input id="csvfields" name="csvfields" type="text" class="form-control" value="{{config['csvfields']}}">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="./" class="btn btn-default">Cancel</a>
        </fieldset>
    </form>
</div>
{% endblock %}
